<!-- approval_detail.html -->
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Approval Detail</title>
</head>
<body>
    <h1>Approval Detail</h1>
    <p><strong>description:</strong> {{  proposal.description  }}</p>
    <p><strong>organizing_club:</strong> {{  proposal.organizing_club  }}</p>
    <p><strong>date:</strong> {{  proposal.date  }}</p>
    <p><strong>time:</strong> {{  proposal.time  }}</p>
    <p><strong>venue_requirements:</strong> {{  proposal.venue_requirements  }}</p>
    <p><strong>budget_requirements:</strong> {{  proposal.budget_requirements  }}</p>
    <p><strong>required_resources:</strong> {{  proposal.required_resources  }}</p>


    <!-- Display other details of the approval as needed -->
</body>
</html>
